main {
  color: #555;
}

main::before, main::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, #78BE20, #0091DA, #1D428A, #7F35B2);
}

main::after {
  margin-top: 0;
}

.navbar-brand {
  padding: 0;
}

.bg-light {
  background: #fff !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.flex-wrap {
  padding: 20px 9px 0;
}

header {
  margin-bottom: -13px;
}

h2.logotext {
  font-size: 26px;
  margin: 0;
  color: #444;
}

h3 {
  color: #777;
  font-weight: 400;
}

section {
  padding: 40px 0;
}

section#home {
  padding-top: 0;
}

.banner-wrapper img {
  margin-top: -5px;
  margin-bottom: 100px;
}

.bg-grey {
  background-color: #e6e6e6;
}

.bg-grad-color-3-4 {
  background: linear-gradient(60deg, #1D428A, #7F35B2);
  color: #fff;
}

.bg-grad-color-3-4 h3 {
  color: #fff;
}

section#registration form {
  z-index: 1;
}

section#registration::before {
  content: '';
  width: 100%;
  height: 60%;
  display: block;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  -webkit-transform: skew(10deg, -40deg) translateY(20%);
          transform: skew(10deg, -40deg) translateY(20%);
  z-index: 0;
}

.piller-head img {
  border-radius: 50%;
  border: 5px solid red;
  z-index: 1;
}

.piller-head h5 {
  color: #fff;
  background: red;
  margin: 0;
  padding: 4px 15px 8px 25px;
  border-radius: 20px;
  margin-left: -22px;
  font-size: 25px;
  font-weight: 400;
  min-width: 140px;
}

.pillars:nth-child(1) .piller-head img {
  border-color: #0091DA;
}

.pillars:nth-child(2) .piller-head img {
  border-color: #78BE20;
}

.pillars:nth-child(3) .piller-head img {
  border-color: #1D428A;
}

.pillars:nth-child(4) .piller-head img {
  border-color: #7F35B2;
}

.pillars:nth-child(1) .piller-head h5 {
  background: #0091DA;
}

.pillars:nth-child(2) .piller-head h5 {
  background: #78BE20;
}

.pillars:nth-child(3) .piller-head h5 {
  background: #1D428A;
}

.pillars:nth-child(4) .piller-head h5 {
  background: #7F35B2;
}

section#registration {
  overflow: hidden;
  position: relative;
}

.heading-wrapper h3, .heading-wrapper h5 {
  margin-bottom: 30px;
}

.piller-head {
  margin: 10px 0;
}

footer {
  color: #666;
}

footer span, footer p, footer h1, footer h2, footer h3, footer h4, footer img {
  cursor: pointer;
}

span.social-links a {
  color: #1D428A;
  margin: 0 5px;
  font-size: 20px;
}

.btb {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 0;
}

img.card-img-top {
  padding: 20px 20px 0 20px;
}

#speakers .card {
  border-radius: 20px;
  padding: 0;
}

p.card-text.text-center {
  background: #F3EBF0;
  padding: 4px;
}

.col-lg-25pc {
  width: 23%;
  margin: 1%;
}

thead {
  background-color: #0091DA;
  color: #fff;
}

.table td, .table th {
  padding: 8px;
}

#agenda li.nav-item {
  background: #717074;
  color: #fff;
  margin: 0px 5px;
}

#agenda a.nav-link.active.show {
  background: #666;
}

#agenda li.nav-item.active {
  background: #1D428A;
}

#agenda li.nav-item a {
  color: #fff;
}

.tab-content {
  padding: 20px 0;
  border: 1px solid #e3e3e3;
}

@media (max-width: 1200px) {
  section#registration::before {
    -webkit-transform: skew(-13deg, -40deg) translateY(20%) scale(1.5);
            transform: skew(-13deg, -40deg) translateY(20%) scale(1.5);
  }
}

@media (max-width: 768px) {
  .banner-wrapper img {
    margin-bottom: 30px;
  }
  section#registration::before {
    display: none;
  }
  .col-md-50pc {
    width: 48%;
    margin: 1%;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  section {
    padding: 20px 0;
  }
  .col-sm-100pc {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 6px;
  }
}
/*# sourceMappingURL=style.css.map */